<div class="panel-body">
	<div class="center-block-extended">
		<h2 class="text-center padded">Welcome to Perpetual Bomb Machine!</h2>
		<img class="center-block padded" src="img/placeholder.jpg">
		<video class="center-block padded" controls="" name="media"><source src="https://instagram.fphx1-2.fna.fbcdn.net//t50.2886-16//12277847_1690398111175074_1469801616_n.mp4" type="video/mp4"></video>
		<p>
		 <strong>Perpetual Bomb Machine!</strong> dolor sit amet, consectetur adipiscing elit. Duis facilisis, libero eu tempus sodales, ipsum ipsum hendrerit felis, ac viverra lectus erat laoreet nulla. Phasellus eu diam sem. Etiam ut urna orci. Sed arcu dolor, euismod et sem a, consequat volutpat purus. Maecenas varius dolor at lacus dapibus iaculis. Morbi volutpat arcu a pellentesque imperdiet. Suspendisse potenti. 
		</p>
		<hr>
		<h2 class="text-center padded">Track your sessions</h2>
		<p>
			Sed sapien mauris, commodo vel mollis vel, feugiat vitae nibh. Curabitur non nisi eu quam dignissim lobortis sed non justo. Integer viverra enim ut faucibus facilisis. Fusce elementum vitae metus in ullamcorper. Vestibulum aliquet euismod felis a posuere. Suspendisse leo leo, vestibulum varius magna eget, ullamcorper mattis metus.
		</p>
		<hr>
		<h2 class="text-center padded">Sign up to get started</h2>
		<div class="text-center">
			<a class="btn btn-lg center-block" href="#/register">Sign Up</a>
		</div>
		<hr>
	</div>
</div>